/*Setting Colors*/

:root {
    --blue: rgb(11,0,122);
    --lightblue: rgb(201,191,222);
    --light: snow;
    --darkblue: rgb(1,2,55);
    --red: rgb(235,12,1);
    --green: rgb(72,235,12);
    --dark: #333;
  }
  

  /*Universal Selector*/
  body {
    font-family: garmond, sans-serif;
    font-weight: 300;
    background-color: var(--light);
    background-image: url(../images/DSCF0408.JPG);
    color: var(--darkblue);
  }

/*Moddify Jumbotron*/
  .custom-jumbotron {
    background-color: var(--darkblue);
    color: var(--light);
    border-radius: 25px 2px 25px 5px;
    padding: 1rem;
    place-content: center;
    text-align: center;
    position: sticky;
    background-size: cover;
  }

.display-2 {
      font-size: 35px;
  }

.lead {
    color: var(--green);
    font-size: 18px;
    transform: rotate(2deg)
}

.lead2 {
  color: var(--green);
  font-size: 18px;
  transform: rotate(-2deg)
}


/*Setting the 'today' date and time styling*/
#now {
    display: inline;
    margin-top: 3%;
    background-color: var(--light);
    color: var(--dark);
    border-radius: 2px 25px 2px 25px;
    padding: .5% 1% .5% 1%;
    font-size: 14px;
}

#now:hover {
    border: 1px inset var(--green);
    font-weight: 600;
}


/*Scheduler Section*/

/*Setting time styles*/
.hour {
    color: var(--lightblue);
    font-size: 18px;
    margin: .5% 1% auto auto;
    border-radius: 20px 2px 20px 2px;
    background-color: var(--dark);
    height: 40px;
    padding-top: 10px;
    font-weight: 900;
    opacity: 70%;
  }
  
  /*set a backup color scheme for text boxes*/
  .taskDue {
      background-color: var(--lightblue);
      color: var(--darkblue);
      border-radius: 6px 6px 20px 6px;
      height: 5rem;
      opacity: 93%;
  }
  
  .taskDue2 {
      background-color: var(--light);
      color: var(--darkblue);
      border-radius: 6px 6px 20px 6px;
      height: 5rem;
      opacity: 93%;
  }
  

  /*Adding classes to colour past, present, future*/

  .past {
    background-color: var(--dark);
    color: var(--light);
    opacity: 30%;
  }
  
  .present {
    background-color: var(--blue);
    color: var(--green);
    border: 1px outset var(--green);
  }
  

    .future {
     background-color: wheat;
     opacity: 50%;
  }

  /*Setting button styling*/
  .saveBtn, .doneBtn {
      transform: rotate(2deg);
  }
  
  .saveBtn:hover, .doneBtn:hover {
      transform: rotate(-2deg);
      border: 1px inset var(--green);
      border-radius: 20px 2px 20px 2px;
      background-color: var(--dark);
      opacity: 60%;
      color: var(--green);
  }
  
  .saveBtn:active, .doneBtn:active {
      transform: rotate(0deg);
      border: 1px inset var(--green);
      border-radius: 20px 2px 20px 2px;
      background-color: var(--dark);
      opacity: 60%;
      color: var(--lightblue);
  }
  
  .saveBtn {
      color: var(--light);
      margin-left: 1%;
  }
  
  .doneBtn {
      color: goldenrod;
  }





